/* css styles */
.section-div {
    width: 100%;
    height: 5.5em;
    background-color: rgba(236, 236, 236, 0.59);
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 10px;
    color: rgb(158, 158, 158);
    font-size: smaller;
}

.current {
    font-weight: bolder;
    font-size: larger;
    color: rgba(119, 119, 119, 1);
}

.section-div > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* GraphViz DOT style */
/* Graph background */
.dot-default-graph > polygon {
  fill: var(--bs-body-bg);
  stroke: transparent;
}

/* Nodes */
.dot-default-node ellipse {
  fill: var(--bs-body-bg);
  stroke: var(--bs-body-color);
}

.dot-default-node text {
  fill: var(--bs-body-color);
}

/* Edges */
.dot-default-edge path {
  stroke: var(--bs-body-color);
  fill: none;
}

.dot-default-edge polygon {
  fill: var(--bs-body-color);
  stroke: var(--bs-body-color);
}