# coding: utf-8

"""
    cBioPortal web Public API [Alpha]

    A web service for supplying JSON formatted data to cBioPortal clients. Please note that this API is currently in beta and subject to change.  # noqa: E501

    OpenAPI spec version: 1.0 (beta). Backwards compatibility will be maintained (after 1.0 release)
    Contact: cbioportal@googlegroups.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from cbioportal.api_client import ApiClient


class ClinicalAttributesApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def fetch_clinical_attributes_using_post(self, body, **kwargs):  # noqa: E501
        """fetch_clinical_attributes_using_post  # noqa: E501

        Fetch clinical attributes  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.fetch_clinical_attributes_using_post(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[str] body: (required)
        :param str projection: Level of detail of the response
        :return: list[ClinicalAttribute]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.fetch_clinical_attributes_using_post_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.fetch_clinical_attributes_using_post_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def fetch_clinical_attributes_using_post_with_http_info(self, body, **kwargs):  # noqa: E501
        """fetch_clinical_attributes_using_post  # noqa: E501

        Fetch clinical attributes  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.fetch_clinical_attributes_using_post_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[str] body: (required)
        :param str projection: Level of detail of the response
        :return: list[ClinicalAttribute]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'projection']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method fetch_clinical_attributes_using_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `fetch_clinical_attributes_using_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'projection' in params:
            query_params.append(('projection', params['projection']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/clinical-attributes/fetch', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[ClinicalAttribute]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_all_clinical_attributes_in_study_using_get(self, study_id, **kwargs):  # noqa: E501
        """get_all_clinical_attributes_in_study_using_get  # noqa: E501

        Get all clinical attributes in the specified study  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_all_clinical_attributes_in_study_using_get(study_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str study_id: Study ID e.g. acc_tcga (required)
        :param str projection: Level of detail of the response
        :param int page_size: Page size of the result list
        :param int page_number: Page number of the result list
        :param str sort_by: Name of the property that the result list is sorted by
        :param str direction: Direction of the sort
        :return: list[ClinicalAttribute]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_all_clinical_attributes_in_study_using_get_with_http_info(study_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_all_clinical_attributes_in_study_using_get_with_http_info(study_id, **kwargs)  # noqa: E501
            return data

    def get_all_clinical_attributes_in_study_using_get_with_http_info(self, study_id, **kwargs):  # noqa: E501
        """get_all_clinical_attributes_in_study_using_get  # noqa: E501

        Get all clinical attributes in the specified study  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_all_clinical_attributes_in_study_using_get_with_http_info(study_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str study_id: Study ID e.g. acc_tcga (required)
        :param str projection: Level of detail of the response
        :param int page_size: Page size of the result list
        :param int page_number: Page number of the result list
        :param str sort_by: Name of the property that the result list is sorted by
        :param str direction: Direction of the sort
        :return: list[ClinicalAttribute]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['study_id', 'projection', 'page_size', 'page_number', 'sort_by', 'direction']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_all_clinical_attributes_in_study_using_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'study_id' is set
        if ('study_id' not in params or
                params['study_id'] is None):
            raise ValueError("Missing the required parameter `study_id` when calling `get_all_clinical_attributes_in_study_using_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'study_id' in params:
            path_params['studyId'] = params['study_id']  # noqa: E501

        query_params = []
        if 'projection' in params:
            query_params.append(('projection', params['projection']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('pageSize', params['page_size']))  # noqa: E501
        if 'page_number' in params:
            query_params.append(('pageNumber', params['page_number']))  # noqa: E501
        if 'sort_by' in params:
            query_params.append(('sortBy', params['sort_by']))  # noqa: E501
        if 'direction' in params:
            query_params.append(('direction', params['direction']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/studies/{studyId}/clinical-attributes', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[ClinicalAttribute]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_all_clinical_attributes_using_get(self, **kwargs):  # noqa: E501
        """get_all_clinical_attributes_using_get  # noqa: E501

        Get all clinical attributes  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_all_clinical_attributes_using_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str projection: Level of detail of the response
        :param int page_size: Page size of the result list
        :param int page_number: Page number of the result list
        :param str sort_by: Name of the property that the result list is sorted by
        :param str direction: Direction of the sort
        :return: list[ClinicalAttribute]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_all_clinical_attributes_using_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_all_clinical_attributes_using_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_all_clinical_attributes_using_get_with_http_info(self, **kwargs):  # noqa: E501
        """get_all_clinical_attributes_using_get  # noqa: E501

        Get all clinical attributes  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_all_clinical_attributes_using_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str projection: Level of detail of the response
        :param int page_size: Page size of the result list
        :param int page_number: Page number of the result list
        :param str sort_by: Name of the property that the result list is sorted by
        :param str direction: Direction of the sort
        :return: list[ClinicalAttribute]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['projection', 'page_size', 'page_number', 'sort_by', 'direction']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_all_clinical_attributes_using_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'projection' in params:
            query_params.append(('projection', params['projection']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('pageSize', params['page_size']))  # noqa: E501
        if 'page_number' in params:
            query_params.append(('pageNumber', params['page_number']))  # noqa: E501
        if 'sort_by' in params:
            query_params.append(('sortBy', params['sort_by']))  # noqa: E501
        if 'direction' in params:
            query_params.append(('direction', params['direction']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/clinical-attributes', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[ClinicalAttribute]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_clinical_attribute_in_study_using_get(self, study_id, clinical_attribute_id, **kwargs):  # noqa: E501
        """get_clinical_attribute_in_study_using_get  # noqa: E501

        Get specified clinical attribute  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_clinical_attribute_in_study_using_get(study_id, clinical_attribute_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str study_id: Study ID e.g. acc_tcga (required)
        :param str clinical_attribute_id: Clinical Attribute ID e.g. CANCER_TYPE (required)
        :return: ClinicalAttribute
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_clinical_attribute_in_study_using_get_with_http_info(study_id, clinical_attribute_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_clinical_attribute_in_study_using_get_with_http_info(study_id, clinical_attribute_id, **kwargs)  # noqa: E501
            return data

    def get_clinical_attribute_in_study_using_get_with_http_info(self, study_id, clinical_attribute_id, **kwargs):  # noqa: E501
        """get_clinical_attribute_in_study_using_get  # noqa: E501

        Get specified clinical attribute  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_clinical_attribute_in_study_using_get_with_http_info(study_id, clinical_attribute_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str study_id: Study ID e.g. acc_tcga (required)
        :param str clinical_attribute_id: Clinical Attribute ID e.g. CANCER_TYPE (required)
        :return: ClinicalAttribute
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['study_id', 'clinical_attribute_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_clinical_attribute_in_study_using_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'study_id' is set
        if ('study_id' not in params or
                params['study_id'] is None):
            raise ValueError("Missing the required parameter `study_id` when calling `get_clinical_attribute_in_study_using_get`")  # noqa: E501
        # verify the required parameter 'clinical_attribute_id' is set
        if ('clinical_attribute_id' not in params or
                params['clinical_attribute_id'] is None):
            raise ValueError("Missing the required parameter `clinical_attribute_id` when calling `get_clinical_attribute_in_study_using_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'study_id' in params:
            path_params['studyId'] = params['study_id']  # noqa: E501
        if 'clinical_attribute_id' in params:
            path_params['clinicalAttributeId'] = params['clinical_attribute_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/studies/{studyId}/clinical-attributes/{clinicalAttributeId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ClinicalAttribute',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
