# coding: utf-8

"""
    cBioPortal web Public API [Alpha]

    A web service for supplying JSON formatted data to cBioPortal clients. Please note that this API is currently in beta and subject to change.  # noqa: E501

    OpenAPI spec version: 1.0 (beta). Backwards compatibility will be maintained (after 1.0 release)
    Contact: cbioportal@googlegroups.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from cbioportal.api_client import ApiClient


class DiscreteCopyNumberAlterationsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def fetch_discrete_copy_numbers_in_molecular_profile_using_post(self, body, molecular_profile_id, **kwargs):  # noqa: E501
        """fetch_discrete_copy_numbers_in_molecular_profile_using_post  # noqa: E501

        Fetch discrete copy number alterations in a molecular profile by sample ID  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.fetch_discrete_copy_numbers_in_molecular_profile_using_post(body, molecular_profile_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param DiscreteCopyNumberFilter body: (required)
        :param str molecular_profile_id: Molecular Profile ID e.g. acc_tcga_gistic (required)
        :param str discrete_copy_number_event_type: Type of the copy number event
        :param str projection: Level of detail of the response
        :return: list[DiscreteCopyNumberData]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.fetch_discrete_copy_numbers_in_molecular_profile_using_post_with_http_info(body, molecular_profile_id, **kwargs)  # noqa: E501
        else:
            (data) = self.fetch_discrete_copy_numbers_in_molecular_profile_using_post_with_http_info(body, molecular_profile_id, **kwargs)  # noqa: E501
            return data

    def fetch_discrete_copy_numbers_in_molecular_profile_using_post_with_http_info(self, body, molecular_profile_id, **kwargs):  # noqa: E501
        """fetch_discrete_copy_numbers_in_molecular_profile_using_post  # noqa: E501

        Fetch discrete copy number alterations in a molecular profile by sample ID  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.fetch_discrete_copy_numbers_in_molecular_profile_using_post_with_http_info(body, molecular_profile_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param DiscreteCopyNumberFilter body: (required)
        :param str molecular_profile_id: Molecular Profile ID e.g. acc_tcga_gistic (required)
        :param str discrete_copy_number_event_type: Type of the copy number event
        :param str projection: Level of detail of the response
        :return: list[DiscreteCopyNumberData]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'molecular_profile_id', 'discrete_copy_number_event_type', 'projection']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method fetch_discrete_copy_numbers_in_molecular_profile_using_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `fetch_discrete_copy_numbers_in_molecular_profile_using_post`")  # noqa: E501
        # verify the required parameter 'molecular_profile_id' is set
        if ('molecular_profile_id' not in params or
                params['molecular_profile_id'] is None):
            raise ValueError("Missing the required parameter `molecular_profile_id` when calling `fetch_discrete_copy_numbers_in_molecular_profile_using_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'molecular_profile_id' in params:
            path_params['molecularProfileId'] = params['molecular_profile_id']  # noqa: E501

        query_params = []
        if 'discrete_copy_number_event_type' in params:
            query_params.append(('discreteCopyNumberEventType', params['discrete_copy_number_event_type']))  # noqa: E501
        if 'projection' in params:
            query_params.append(('projection', params['projection']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/molecular-profiles/{molecularProfileId}/discrete-copy-number/fetch', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[DiscreteCopyNumberData]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_discrete_copy_numbers_in_molecular_profile_using_get(self, molecular_profile_id, sample_list_id, **kwargs):  # noqa: E501
        """get_discrete_copy_numbers_in_molecular_profile_using_get  # noqa: E501

        Get discrete copy number alterations in a molecular profile  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_discrete_copy_numbers_in_molecular_profile_using_get(molecular_profile_id, sample_list_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str molecular_profile_id: Molecular Profile ID e.g. acc_tcga_gistic (required)
        :param str sample_list_id: Sample List ID e.g. acc_tcga_all (required)
        :param str discrete_copy_number_event_type: Type of the copy number event
        :param str projection: Level of detail of the response
        :return: list[DiscreteCopyNumberData]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_discrete_copy_numbers_in_molecular_profile_using_get_with_http_info(molecular_profile_id, sample_list_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_discrete_copy_numbers_in_molecular_profile_using_get_with_http_info(molecular_profile_id, sample_list_id, **kwargs)  # noqa: E501
            return data

    def get_discrete_copy_numbers_in_molecular_profile_using_get_with_http_info(self, molecular_profile_id, sample_list_id, **kwargs):  # noqa: E501
        """get_discrete_copy_numbers_in_molecular_profile_using_get  # noqa: E501

        Get discrete copy number alterations in a molecular profile  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_discrete_copy_numbers_in_molecular_profile_using_get_with_http_info(molecular_profile_id, sample_list_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str molecular_profile_id: Molecular Profile ID e.g. acc_tcga_gistic (required)
        :param str sample_list_id: Sample List ID e.g. acc_tcga_all (required)
        :param str discrete_copy_number_event_type: Type of the copy number event
        :param str projection: Level of detail of the response
        :return: list[DiscreteCopyNumberData]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['molecular_profile_id', 'sample_list_id', 'discrete_copy_number_event_type', 'projection']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_discrete_copy_numbers_in_molecular_profile_using_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'molecular_profile_id' is set
        if ('molecular_profile_id' not in params or
                params['molecular_profile_id'] is None):
            raise ValueError("Missing the required parameter `molecular_profile_id` when calling `get_discrete_copy_numbers_in_molecular_profile_using_get`")  # noqa: E501
        # verify the required parameter 'sample_list_id' is set
        if ('sample_list_id' not in params or
                params['sample_list_id'] is None):
            raise ValueError("Missing the required parameter `sample_list_id` when calling `get_discrete_copy_numbers_in_molecular_profile_using_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'molecular_profile_id' in params:
            path_params['molecularProfileId'] = params['molecular_profile_id']  # noqa: E501

        query_params = []
        if 'sample_list_id' in params:
            query_params.append(('sampleListId', params['sample_list_id']))  # noqa: E501
        if 'discrete_copy_number_event_type' in params:
            query_params.append(('discreteCopyNumberEventType', params['discrete_copy_number_event_type']))  # noqa: E501
        if 'projection' in params:
            query_params.append(('projection', params['projection']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/molecular-profiles/{molecularProfileId}/discrete-copy-number', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[DiscreteCopyNumberData]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
