# coding: utf-8

"""
    cBioPortal web Public API [Alpha]

    A web service for supplying JSON formatted data to cBioPortal clients. Please note that this API is currently in beta and subject to change.  # noqa: E501

    OpenAPI spec version: 1.0 (beta). Backwards compatibility will be maintained (after 1.0 release)
    Contact: cbioportal@googlegroups.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from cbioportal.api_client import ApiClient


class GenesApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def fetch_genes_using_post(self, body, **kwargs):  # noqa: E501
        """fetch_genes_using_post  # noqa: E501

        Fetch genes by ID  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.fetch_genes_using_post(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[str] body: (required)
        :param str gene_id_type:
        :param str projection: Level of detail of the response
        :return: list[Gene]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.fetch_genes_using_post_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.fetch_genes_using_post_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def fetch_genes_using_post_with_http_info(self, body, **kwargs):  # noqa: E501
        """fetch_genes_using_post  # noqa: E501

        Fetch genes by ID  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.fetch_genes_using_post_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[str] body: (required)
        :param str gene_id_type:
        :param str projection: Level of detail of the response
        :return: list[Gene]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'gene_id_type', 'projection']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method fetch_genes_using_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `fetch_genes_using_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'gene_id_type' in params:
            query_params.append(('geneIdType', params['gene_id_type']))  # noqa: E501
        if 'projection' in params:
            query_params.append(('projection', params['projection']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/genes/fetch', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[Gene]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_aliases_of_gene_using_get(self, gene_id, **kwargs):  # noqa: E501
        """get_aliases_of_gene_using_get  # noqa: E501

        Get aliases of a gene  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_aliases_of_gene_using_get(gene_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str gene_id: Entrez Gene ID or Hugo Gene Symbol e.g. 1 or A1BG (required)
        :return: list[str]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_aliases_of_gene_using_get_with_http_info(gene_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_aliases_of_gene_using_get_with_http_info(gene_id, **kwargs)  # noqa: E501
            return data

    def get_aliases_of_gene_using_get_with_http_info(self, gene_id, **kwargs):  # noqa: E501
        """get_aliases_of_gene_using_get  # noqa: E501

        Get aliases of a gene  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_aliases_of_gene_using_get_with_http_info(gene_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str gene_id: Entrez Gene ID or Hugo Gene Symbol e.g. 1 or A1BG (required)
        :return: list[str]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['gene_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_aliases_of_gene_using_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'gene_id' is set
        if ('gene_id' not in params or
                params['gene_id'] is None):
            raise ValueError("Missing the required parameter `gene_id` when calling `get_aliases_of_gene_using_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'gene_id' in params:
            path_params['geneId'] = params['gene_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/genes/{geneId}/aliases', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[str]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_all_genes_using_get(self, **kwargs):  # noqa: E501
        """get_all_genes_using_get  # noqa: E501

        Get all genes  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_all_genes_using_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str keyword: Search keyword that applies to hugo gene symbol of the genes
        :param str alias: Alias of the gene
        :param str projection: Level of detail of the response
        :param int page_size: Page size of the result list
        :param int page_number: Page number of the result list
        :param str sort_by: Name of the property that the result list is sorted by
        :param str direction: Direction of the sort
        :return: list[Gene]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_all_genes_using_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_all_genes_using_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_all_genes_using_get_with_http_info(self, **kwargs):  # noqa: E501
        """get_all_genes_using_get  # noqa: E501

        Get all genes  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_all_genes_using_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str keyword: Search keyword that applies to hugo gene symbol of the genes
        :param str alias: Alias of the gene
        :param str projection: Level of detail of the response
        :param int page_size: Page size of the result list
        :param int page_number: Page number of the result list
        :param str sort_by: Name of the property that the result list is sorted by
        :param str direction: Direction of the sort
        :return: list[Gene]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['keyword', 'alias', 'projection', 'page_size', 'page_number', 'sort_by', 'direction']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_all_genes_using_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'keyword' in params:
            query_params.append(('keyword', params['keyword']))  # noqa: E501
        if 'alias' in params:
            query_params.append(('alias', params['alias']))  # noqa: E501
        if 'projection' in params:
            query_params.append(('projection', params['projection']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('pageSize', params['page_size']))  # noqa: E501
        if 'page_number' in params:
            query_params.append(('pageNumber', params['page_number']))  # noqa: E501
        if 'sort_by' in params:
            query_params.append(('sortBy', params['sort_by']))  # noqa: E501
        if 'direction' in params:
            query_params.append(('direction', params['direction']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/genes', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[Gene]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_gene_using_get(self, gene_id, **kwargs):  # noqa: E501
        """get_gene_using_get  # noqa: E501

        Get a gene  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_gene_using_get(gene_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str gene_id: Entrez Gene ID or Hugo Gene Symbol e.g. 1 or A1BG (required)
        :return: Gene
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_gene_using_get_with_http_info(gene_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_gene_using_get_with_http_info(gene_id, **kwargs)  # noqa: E501
            return data

    def get_gene_using_get_with_http_info(self, gene_id, **kwargs):  # noqa: E501
        """get_gene_using_get  # noqa: E501

        Get a gene  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_gene_using_get_with_http_info(gene_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str gene_id: Entrez Gene ID or Hugo Gene Symbol e.g. 1 or A1BG (required)
        :return: Gene
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['gene_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_gene_using_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'gene_id' is set
        if ('gene_id' not in params or
                params['gene_id'] is None):
            raise ValueError("Missing the required parameter `gene_id` when calling `get_gene_using_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'gene_id' in params:
            path_params['geneId'] = params['gene_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/genes/{geneId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Gene',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
