# coding: utf-8

"""
    cBioPortal web Public API [Alpha]

    A web service for supplying JSON formatted data to cBioPortal clients. Please note that this API is currently in beta and subject to change.  # noqa: E501

    OpenAPI spec version: 1.0 (beta). Backwards compatibility will be maintained (after 1.0 release)
    Contact: cbioportal@googlegroups.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from cbioportal.api_client import ApiClient


class SamplesApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def fetch_samples_using_post(self, **kwargs):  # noqa: E501
        """fetch_samples_using_post  # noqa: E501

        Fetch samples by ID  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.fetch_samples_using_post(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SampleFilter body:
        :param str projection: Level of detail of the response
        :return: list[Sample]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.fetch_samples_using_post_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.fetch_samples_using_post_with_http_info(**kwargs)  # noqa: E501
            return data

    def fetch_samples_using_post_with_http_info(self, **kwargs):  # noqa: E501
        """fetch_samples_using_post  # noqa: E501

        Fetch samples by ID  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.fetch_samples_using_post_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SampleFilter body:
        :param str projection: Level of detail of the response
        :return: list[Sample]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'projection']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method fetch_samples_using_post" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'projection' in params:
            query_params.append(('projection', params['projection']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/samples/fetch', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[Sample]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_all_samples_in_study_using_get(self, study_id, **kwargs):  # noqa: E501
        """get_all_samples_in_study_using_get  # noqa: E501

        Get all samples in a study  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_all_samples_in_study_using_get(study_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str study_id: Study ID e.g. acc_tcga (required)
        :param str projection: Level of detail of the response
        :param int page_size: Page size of the result list
        :param int page_number: Page number of the result list
        :param str sort_by: Name of the property that the result list is sorted by
        :param str direction: Direction of the sort
        :return: list[Sample]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_all_samples_in_study_using_get_with_http_info(study_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_all_samples_in_study_using_get_with_http_info(study_id, **kwargs)  # noqa: E501
            return data

    def get_all_samples_in_study_using_get_with_http_info(self, study_id, **kwargs):  # noqa: E501
        """get_all_samples_in_study_using_get  # noqa: E501

        Get all samples in a study  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_all_samples_in_study_using_get_with_http_info(study_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str study_id: Study ID e.g. acc_tcga (required)
        :param str projection: Level of detail of the response
        :param int page_size: Page size of the result list
        :param int page_number: Page number of the result list
        :param str sort_by: Name of the property that the result list is sorted by
        :param str direction: Direction of the sort
        :return: list[Sample]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['study_id', 'projection', 'page_size', 'page_number', 'sort_by', 'direction']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_all_samples_in_study_using_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'study_id' is set
        if ('study_id' not in params or
                params['study_id'] is None):
            raise ValueError("Missing the required parameter `study_id` when calling `get_all_samples_in_study_using_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'study_id' in params:
            path_params['studyId'] = params['study_id']  # noqa: E501

        query_params = []
        if 'projection' in params:
            query_params.append(('projection', params['projection']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('pageSize', params['page_size']))  # noqa: E501
        if 'page_number' in params:
            query_params.append(('pageNumber', params['page_number']))  # noqa: E501
        if 'sort_by' in params:
            query_params.append(('sortBy', params['sort_by']))  # noqa: E501
        if 'direction' in params:
            query_params.append(('direction', params['direction']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/studies/{studyId}/samples', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[Sample]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_all_samples_of_patient_in_study_using_get(self, study_id, patient_id, **kwargs):  # noqa: E501
        """get_all_samples_of_patient_in_study_using_get  # noqa: E501

        Get all samples of a patient in a study  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_all_samples_of_patient_in_study_using_get(study_id, patient_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str study_id: Study ID e.g. acc_tcga (required)
        :param str patient_id: Patient ID e.g. TCGA-OR-A5J2 (required)
        :param str projection: Level of detail of the response
        :param int page_size: Page size of the result list
        :param int page_number: Page number of the result list
        :param str sort_by: Name of the property that the result list is sorted by
        :param str direction: Direction of the sort
        :return: list[Sample]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_all_samples_of_patient_in_study_using_get_with_http_info(study_id, patient_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_all_samples_of_patient_in_study_using_get_with_http_info(study_id, patient_id, **kwargs)  # noqa: E501
            return data

    def get_all_samples_of_patient_in_study_using_get_with_http_info(self, study_id, patient_id, **kwargs):  # noqa: E501
        """get_all_samples_of_patient_in_study_using_get  # noqa: E501

        Get all samples of a patient in a study  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_all_samples_of_patient_in_study_using_get_with_http_info(study_id, patient_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str study_id: Study ID e.g. acc_tcga (required)
        :param str patient_id: Patient ID e.g. TCGA-OR-A5J2 (required)
        :param str projection: Level of detail of the response
        :param int page_size: Page size of the result list
        :param int page_number: Page number of the result list
        :param str sort_by: Name of the property that the result list is sorted by
        :param str direction: Direction of the sort
        :return: list[Sample]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['study_id', 'patient_id', 'projection', 'page_size', 'page_number', 'sort_by', 'direction']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_all_samples_of_patient_in_study_using_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'study_id' is set
        if ('study_id' not in params or
                params['study_id'] is None):
            raise ValueError("Missing the required parameter `study_id` when calling `get_all_samples_of_patient_in_study_using_get`")  # noqa: E501
        # verify the required parameter 'patient_id' is set
        if ('patient_id' not in params or
                params['patient_id'] is None):
            raise ValueError("Missing the required parameter `patient_id` when calling `get_all_samples_of_patient_in_study_using_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'study_id' in params:
            path_params['studyId'] = params['study_id']  # noqa: E501
        if 'patient_id' in params:
            path_params['patientId'] = params['patient_id']  # noqa: E501

        query_params = []
        if 'projection' in params:
            query_params.append(('projection', params['projection']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('pageSize', params['page_size']))  # noqa: E501
        if 'page_number' in params:
            query_params.append(('pageNumber', params['page_number']))  # noqa: E501
        if 'sort_by' in params:
            query_params.append(('sortBy', params['sort_by']))  # noqa: E501
        if 'direction' in params:
            query_params.append(('direction', params['direction']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/studies/{studyId}/patients/{patientId}/samples', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[Sample]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_sample_in_study_using_get(self, study_id, sample_id, **kwargs):  # noqa: E501
        """get_sample_in_study_using_get  # noqa: E501

        Get a sample in a study  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_sample_in_study_using_get(study_id, sample_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str study_id: Study ID e.g. acc_tcga (required)
        :param str sample_id: Sample ID e.g. TCGA-OR-A5J2-01 (required)
        :return: Sample
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_sample_in_study_using_get_with_http_info(study_id, sample_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_sample_in_study_using_get_with_http_info(study_id, sample_id, **kwargs)  # noqa: E501
            return data

    def get_sample_in_study_using_get_with_http_info(self, study_id, sample_id, **kwargs):  # noqa: E501
        """get_sample_in_study_using_get  # noqa: E501

        Get a sample in a study  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_sample_in_study_using_get_with_http_info(study_id, sample_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str study_id: Study ID e.g. acc_tcga (required)
        :param str sample_id: Sample ID e.g. TCGA-OR-A5J2-01 (required)
        :return: Sample
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['study_id', 'sample_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_sample_in_study_using_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'study_id' is set
        if ('study_id' not in params or
                params['study_id'] is None):
            raise ValueError("Missing the required parameter `study_id` when calling `get_sample_in_study_using_get`")  # noqa: E501
        # verify the required parameter 'sample_id' is set
        if ('sample_id' not in params or
                params['sample_id'] is None):
            raise ValueError("Missing the required parameter `sample_id` when calling `get_sample_in_study_using_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'study_id' in params:
            path_params['studyId'] = params['study_id']  # noqa: E501
        if 'sample_id' in params:
            path_params['sampleId'] = params['sample_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/studies/{studyId}/samples/{sampleId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Sample',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_samples_by_keyword_using_get(self, **kwargs):  # noqa: E501
        """get_samples_by_keyword_using_get  # noqa: E501

        Get all samples matching keyword  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_samples_by_keyword_using_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str keyword: Search keyword that applies to the study ID
        :param str projection: Level of detail of the response
        :param int page_size: Page size of the result list
        :param int page_number: Page number of the result list
        :param str sort_by: Name of the property that the result list is sorted by
        :param str direction: Direction of the sort
        :return: list[Sample]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_samples_by_keyword_using_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_samples_by_keyword_using_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_samples_by_keyword_using_get_with_http_info(self, **kwargs):  # noqa: E501
        """get_samples_by_keyword_using_get  # noqa: E501

        Get all samples matching keyword  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_samples_by_keyword_using_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str keyword: Search keyword that applies to the study ID
        :param str projection: Level of detail of the response
        :param int page_size: Page size of the result list
        :param int page_number: Page number of the result list
        :param str sort_by: Name of the property that the result list is sorted by
        :param str direction: Direction of the sort
        :return: list[Sample]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['keyword', 'projection', 'page_size', 'page_number', 'sort_by', 'direction']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_samples_by_keyword_using_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'keyword' in params:
            query_params.append(('keyword', params['keyword']))  # noqa: E501
        if 'projection' in params:
            query_params.append(('projection', params['projection']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('pageSize', params['page_size']))  # noqa: E501
        if 'page_number' in params:
            query_params.append(('pageNumber', params['page_number']))  # noqa: E501
        if 'sort_by' in params:
            query_params.append(('sortBy', params['sort_by']))  # noqa: E501
        if 'direction' in params:
            query_params.append(('direction', params['direction']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/samples', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[Sample]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
