/* css styles */
.section-div {
    width: 100%;
    height: 7.5em;
    background-color: gainsboro;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.current {
    font-weight: bolder;
    font-size: larger;
}

.section-div > div {
    display: flex;
    align-items: center;
    justify-content: center;
}